@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E65014;
}

body {
  @apply bg-dark text-white overflow-x-hidden;
}

select,
input[type="password"],
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
  @apply bg-dark-gray border border-dark-light px-4 h-10 text-white rounded focus:outline-none focus:border-primary w-full focus:shadow-primary focus:shadow;
}

textarea {
  @apply h-20 py-2;
}

.validate-danger select,
.validate-danger input[type="password"],
.validate-danger input[type="email"],
.validate-danger input[type="search"],
.validate-danger input[type="text"],
.validate-danger textarea {
  @apply bg-red-900/10 border-red-600 focus:border-red-600 w-full focus:shadow-red-600 focus:shadow;
}

input[type="button"],
input[type="submit"],
button[type="submit"],
button,
.button {
  @apply text-white h-10 rounded flex items-center justify-center w-full hover:opacity-95 gap-2 disabled:opacity-70 disabled:cursor-not-allowed ease-in-out duration-100;
}

.button-primary {
  @apply bg-primary hover:shadow hover:shadow-primary font-semibold;
}
.button-danger {
  @apply bg-red-600 hover:shadow hover:shadow-red-600 font-semibold;
}

.button-light {
  @apply  text-dark-light bg-transparent font-bold hover:opacity-100 hover:text-primary;
}

label {
  @apply text-dark-light text-sm block mb-1;
}

.validate-danger label {
  @apply text-red-600 opacity-50;
}

 /* Table */

.table {
  @apply grid gap-5 mt-5 overflow-scroll;

}
.table-head {
  @apply grid  gap-3 border px-5 py-2 rounded border-dark-light text-dark-light min-w-[50rem];
}

.table-row {
  @apply hover:bg-dark-gray grid items-center gap-3 border border-dark-light px-5 py-3 rounded;
}

pre {
  @apply bg-dark-gray p-5 rounded overflow-x-auto;
}